/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
    ===============================================
    Custom Styles
    ===============================================
*/

body {
    background: #333;
    color: #999;
    font: 500 24px/33px "Fira Sans Condensed", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    padding-top: 57px;
}

/*
  ========================================
  Clearfix
  ========================================
*/

.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    clear: both;
    *zoom: 1;
}

/*
    ===============================================
    Grid
    ===============================================
*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.container,
.grid {
    margin: 0 auto;
    width: 960px;
}
.container {
    padding-left: 30px;
    padding-right: 30px;
}
.grid,
.col-1-3,
.col-intro-left,
.col-intro-right,
.col-2-3 {
    padding-left: 15px;
    padding-right: 15px;
}
.col-1-3,
.col-intro-left,
.col-intro-right,
.col-2-3 {
    display: inline-block;
    vertical-align: top;
}
.col-1-3 {
    width: 33.33%;
}
.col-intro-left {
    width: 60%;
}
.col-intro-right {
    width: 40%;
}
.col-2-3 {
    width: 66.66%;
}

/*
    ===============================================
    Rows
    ===============================================
*/

.row {
    min-width: 960px;
}

/*
    ===============================================
    Links
    ===============================================
*/

.nav a:link {
    text-decoration: none;
    color: #999;
}
.nav a:visited {
    color: #999;
}
.nav a:hover {
    background-color: black;
}

/*
    ===============================================
    Buttons
    ===============================================
*/

.btn {
    background: #262626;
    padding: 8px 20px;
    display: inline-block;
}

/*
    ===============================================
    Navigation
    ===============================================
*/

.nav {
    text-align: center;
}
.nav ul {
    margin-left: -390px;
}
.nav li {
    display: inline-block;
    margin: 0;
    vertical-align: top;
}
#nav-name {
    color: white;
}

/*
    ===============================================
    Section title
    ===============================================
*/

.section-title {
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    background: #141414;
    border: 4px black solid;
    border-radius: 1%;
}
hr {
    border: 2px double;
    height: .1em;
}
.title-position-absolute {
    position: absolute
}
.title-text {
    position: relative;
    top: -55px;
    line-height: 55px;
    background: #141414;
    color: white;
}
.title-text-intro {
    left: 218px;
}
.title-text-portfolio {
    left: 318px;
}
.title-text-contact {
    left: 294px;
}

/*
    ===============================================
    Primary header
    ===============================================
*/

header {
    background: #262626;
    border: 4px black solid;
    border-radius: 1%;
    position: fixed;
    width: 100%;
    top: 0;
    top: 0;
    z-index: 1;
}

/*
    ===============================================
    Introduction
    ===============================================
*/

.intro {
    background: #262626;
    border: 4px black solid;
    border-radius: 1%;
}
/*
.name {
    text-transform: uppercase;
    font-weight: 800; 
    font-size: 51px;
    line-height: 55px;
    letter-spacing: .05em;
    margin-top: 40px;
    border-bottom: 5px solid black;
}
*/
.intro-summary {
    text-align: center;
    margin-top: 66px;
    margin-bottom: 66px;
    font-size: 33px;
    line-height: 36px;
}
.logo {
    border-radius: 50%;
}
.col-intro-left {
    height: 240x;
    text-align: center;
    padding-left: 100px;
}
.col-intro-right {
    height: 240px;
    padding-left: 60px;
}
.col-intro-right img {
    margin-top: 24px;
    margin-bottom: 24px;
    height: 192px;
}

/*
    ===============================================
    Portfolio
    ===============================================
*/

.portfolio img {
    padding-top: 10px;
    padding-bottom: 10px;
}
.portfolio .col-1-3 {
    text-align: center;
}
.portfolio {
    background: #262626;
    border-left: 4px solid black;
    border-right: 4px solid black;
}
.portfolio-top {
    border-top: 4px solid black;
    border-left: 4px solid black;
    border-right: 4px solid black;
}
.portfolio-top img {
    padding-top: 20px;
}
.portfolio-bottom {
    border-bottom: 4px solid black;
    border-left: 4px solid black;
    border-right: 4px solid black;
}
.portfolio-bottom img {
    padding-bottom: 20px;
}

/*
    ===============================================
    Contact Me
    ===============================================
*/

.contact-box {
    padding: 20px 12px 20px 12px;
    background: #262626;
    border: 4px black solid;
    border-radius: 1%;
}
.contact {
    float: left;
}
.contact-about {
    float: right;
    text-align: left;
    width: 432px;
}
